@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --bg_default: #f2f2f2;
  --bg_accent:#e0e3ea;
  --margin-y: 30px;
  --padding-top: 50px;
  --padding-x: 100px;
  --font-size-heading: 30px;
}

@media (max-width: 1200px) {
  :root {
    --padding-x: 50px;
    --margin-y: 20px;
  }
}
@media (max-width: 650px) {
  :root {
    --padding-x: 25px;
  }
}
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

button {
  border: none;
  outline: none;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Плавный скролл
    */
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

.section {
  padding: var(--padding-top) var(--padding-x);
}
.section--light {
  background-color: var(--bg_default);
}
.section--dark {
  background-color: var(--bg_accent);
  border-bottom: 2px rgba(118, 118, 118, 0.201) solid;
  border-top: 2px rgba(118, 118, 118, 0.217) solid;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 var(--padding-x);
  /* media header */
}
.header__empty {
  flex: 1;
}
.header__phone {
  line-height: 20px;
  padding: 5px;
  color: white;
  border-bottom: 1px solid orange;
}
.header__phone:hover {
  background-color: inherit;
  scale: 1.05;
}
@media (max-width: 780px) {
  .header {
    position: relative;
  }
  .header__phone {
    position: absolute;
    top: 20px;
    left: calc(50% - 72px);
    font-size: 20px;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo__name {
  font-size: 30px;
  color: white;
}
.logo__image {
  width: 70px;
  border-radius: 50%;
}
@media (max-width: 680px) {
  .logo__name {
    display: none;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 100%;
}
.menu__link {
  height: 100%;
  color: white;
  text-decoration: none;
  padding-inline: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__link:hover {
  background-color: #1c1c1c;
}
@media (max-width: 1000px) {
  .menu__link {
    padding-inline: 15px;
  }
}
@media (max-width: 780px) {
  .menu {
    overscroll-behavior-x: contain;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.797);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-top: 50px;
    top: 0;
    left: 0;
    position: fixed;
    transform: translateX(100%);
    transition: 0.3s;
  }
  .menu__link {
    font-size: 20px;
    padding: 25px 15px;
  }
}

.burger {
  --size-burger: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: var(--size-burger);
  height: var(--size-burger);
}
.burger:hover {
  cursor: pointer;
  scale: 1.1;
}
.burger span {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  transition: 0.1s;
}
.burger--visible {
  display: none;
}
.burger--active {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
}
.burger--active > span:nth-child(1) {
  transform: rotate(-45deg);
}
.burger--active > span:nth-child(2) {
  display: none;
}
.burger--active > span:nth-child(3) {
  transform: translate(0, -14px) rotate(45deg);
}
@media (max-width: 780px) {
  .burger--visible {
    display: flex;
  }
}

.button {
  color: black;
  cursor: pointer;
  padding: 15px 35px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  background-color: orange;
  min-width: -moz-max-content;
  min-width: max-content;
}
.button:hover {
  opacity: 0.8;
  transition: 0.1s;
}
.button--blue {
  background-color: rgb(100, 100, 255);
}
.button--dark {
  background-color: black;
  color: white;
}

/* footer */
.footer {
  background-color: #323232;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--margin-y) var(--padding-x);
  /* media footer */
}
.footer__link {
  color: rgb(216, 216, 216);
}
.footer__link:hover, .footer__link:active {
  text-decoration: underline;
}
.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 980px) {
  .footer {
    padding-inline: var(--padding-x);
  }
  .footer__nav {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 10px;
  }
}/*# sourceMappingURL=common.css.map */