/* Это блок на сайте contacts */
/* В отдельный css, потому что форма будет на 2 страницах */

/* contacts */
.contacts {
    display: flex;
    justify-content: center;
    gap: 30px;

    padding: var(--padding-top) var(--padding-left-right);
}

.contacts .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts .info p {
    font-size: 20px;
}

.contacts .info > p {
    border-left: 4px orange solid;
    padding: 5px;
    padding-left: 10px;
}

.contacts .phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    padding: var(--margin-top-bot) 0;
    border-radius: 30px;
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.142);
}

.contacts .phone p {
    margin-bottom: 20px;
}

.contacts .phone .number {
    background-color: rgb(134, 134, 251);
}

.contacts .phone .number:hover {
    background-color: rgb(169, 169, 255);
}

/* форма */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 700px;

    padding: var(--margin-top-bot);
    border-radius: 30px;
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.142);
}

form h3 {
    font-size: 25px;
    margin-bottom: var(--margin-top-bot);
}

form label {
    margin-bottom: 10px;
}

form .flex-row {    
    display: flex; 
    margin-bottom: 0; 
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
    gap: 30px;
}

form .right {
    display: flex;
    flex-direction: column;
}

form .left div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}



form input,
textarea {
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid rgb(226, 226, 226);

    font-size: 15px;
    resize: none;

    background-color: inherit;
}

form input:focus,
textarea:focus {
    outline: none;
    border: 1px solid rgb(171, 171, 171);
}

form .privacy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    margin-bottom: 20px;
}

form .privacy input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

form .privacy label {
    margin: 0;
}

form .privacy a {
    text-decoration: underline;
    color: #2b2b2b;
}


/* media - block contacts с формой */
@media (max-width: 1150px) {
    .contacts {
        flex-direction: column;
    }

    .contacts h2,
    .contacts .info > p {
        margin-bottom: var(--margin-top-bot);
    }

    .contacts .phone,
    .contacts form {
        margin: auto;
    }
}


@media (max-width: 790px) {
    .contacts form {
        width: 100%;
    }

    .contacts form .flex-row {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 510px) {
    .contacts form .privacy {
        padding-left: 20px;
    }

    .contacts .phone {
        width: 100%;
    }

    .contacts .phone p {
        width: 80%;
        text-align: center;
    }
}