


































/* media - banner */
@media (min-width: 1700px) {
    .banner {
        background-position: bottom;
    }
}

@media (max-width: 1500px) {
    .banner {
        padding-left: 50px;
        background-position: -70px;
    }
}

@media (max-width: 800px) {
    .banner {
        background-position: left;
    }
}

@media (max-width: 1500px) {
    .banner {
        padding-left: var(--padding-left-right);
        background-position: -70px;
    }
}

@media (max-width: 500px) {
    .banner {
        min-height: 400px;
    }

    .banner .button {
        translate: 0 40px;
    }
}

@media (max-width: 480px) {
    .banner .content h1 {
        font-size: 30px;
    }
}


/* media -- about */
@media (max-width: 1000px) {
    .about .images > img:nth-child(2) {
        display: none;
    }

    .about .images {
        width: min-content;
    }

    .about .content {
        max-width: 100%; /* чтобы выкл ограничение по максимуму */
    }
}

@media (max-width: 800px) {
    .about .content ul {
        padding-left: 15px;
    }
}


@media (max-width: 800px) {
    .about .images {
        display: none;
    }
}


/* media - catalog */
@media (max-width: 570px) {
    :root {
        --size-product: 200px;
    }
}

@media (max-width: 470px) {
    :root {
        --size-product: 300px;
    }
}


/* media - photos */
@media (max-width: 560px) {
    :root {
        --size-photo: 200px;
    }
}

@media (max-width: 470px) {
    :root {
        --size-photo: 180px;
    }
}



/* media - feedback */
@media (max-width: 1000px) {
    .feedback .feeds {
        flex-wrap: wrap;
    }
}

@media (max-width: 760px) {
    .feedback .feeds {
        gap: 20px;
    }
}

@media (max-width: 720px) {
    .feedback .feeds article {
        width: 250px;
        height: 270px;
    }
}

@media (max-width: 570px) {
    .feedback .feeds article {
        width: 350px;
        height: 300px;
    }
}


/* media - maps */
@media (max-width: 1000px) {
    .maps .flex-column,
    .maps .flex-column div {
        width: 100%;
    }

    .maps iframe {
        width: 100%;
    }
}

/* @media (max-width: 1000px) {
    .maps iframe {
        width: 800px;
    }
}

@media (max-width: 950px) {
    .maps iframe {
        width: 700px;
    }
}

@media (max-width: 950px) {
    .maps iframe {
        width: 600px;
    }
} */



