
:root {
    --padding-info-p: 20px;
    --border-info-p:  2px solid grey;
}


/* Чередовать фоны */
.product-description {
    background-color: #f2f2f2;
}

.moreItems {
    background-color: var(--bg_accent);
    border-bottom: 2px rgba(118, 118, 118, 0.201) solid;
    border-top: 2px rgba(118, 118, 118, 0.217) solid;
}


/* 1 товар - картинка и описание */
.product-description {
    padding: var(--padding-top) var(--padding-left-right);

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.product-description .images {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-description .images .preview {
    width: 500px;
    height: 400px;
}

.product-description .preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    cursor: zoom-in;
}

.product-description .images .miniatures {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    max-width: 500px;
}

.product-description .miniatures img {
    width: 80px;
    height: 50px;
    object-fit: cover;

    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.459);
}


.product-description .info {
    font-size: 20px;

    display: flex;
    flex-direction: column;
}

.product-description .info h2 {
    font-size: 30px;
    margin-bottom: var(--margin-top-bot);
}

.product-description .info p {
    font-weight: 700;
}

.product-description .info p > span {
    font-weight: normal;
}



.product-description .info > p {
    padding: var(--padding-info-p) 0;
    border-bottom: var(--border-info-p);
}

.product-description .info > p:first-of-type {
    border-top: var(--border-info-p);
}


.product-description .empty {
    flex: 1;
}

.product-description .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.product-description .price p {
    font-weight: bold;
    font-size: 30px;
}

.product-description .button {
    background-color: black;
    color: white;
}

.product-description .button:hover {
    background-color: rgb(40, 40, 40);
}








/* похожие товары - moreItems */
.moreItems {
    padding: var(--margin-top-bot) var(--padding-left-right);
}

.moreItems h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    font-size: 30px;
    margin-bottom: var(--margin-top-bot);
}

.moreItems h2::before {
    content: "";
    width: 40px;
    height: 3px;
    background-color: black;
}

.moreItems .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.moreItems .item {
    position: relative;
    width: 250px;
    height: 150px;

    overflow: hidden;
}


.moreItems .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.moreItems .item h3 {
    position: absolute;
    z-index: 1;

    bottom: 0;
    left: 0;
    right: 0;
    
    padding: 8px 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.715);
}


.moreItems .item:hover {
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.142);
}

.moreItems .item:hover img {
    scale: 1.05;
    transition: 0.2s;
}


/* media - зона с одним товаром */
@media (max-width: 1270px) {
    .product-description .images .preview {
        width: 400px;
        height: 350px;
    }
}

@media (max-width: 950px) {
    .product-description .images .preview {
        width: 350px;
        height: 250px;
    }
}

@media (max-width: 950px) {
    .product-description .images .preview {
        width: 300px;
        height: 250px;
    }
}

@media (max-width: 750px) {
    .product-description .price {
        flex-wrap: wrap;
        /* gap: 10px; */
    }
}

@media (max-width: 700px) {
    .product-description .images {
        width: 100%;
        align-items: center;
    }

    .product-description {
        flex-direction: column-reverse;
        align-items: center;
    }

    .product-description .images .preview {
        width: 500px;
        height: 400px;
    }

    .product-description .info .size {
        margin-bottom: var(--margin-top-bot);
    }
}

@media (max-width: 560px) {
    .product-description .images .preview {
        width: 400px;
        height: 300px;
    }
}