
:root {
    --bg_default: #f2f2f2;
    --bg_accent:#e0e3ea;

    --margin-y: 30px;
    --padding-top: 50px;
    --padding-x: 100px;

    --font-size-heading: 30px;
}


@media (max-width: 1200px) {
    :root {
        --padding-x: 50px;
        --margin-y: 20px;
    }
}

@media (max-width: 650px) {
    :root {
        --padding-x: 25px;
    }
}