@import "mixins";

@import 
    "blocks/section-contact",
    "blocks/contacts",
    "blocks/form",
    "blocks/privacy";









/* media - block contacts с формой */
@media (max-width: 1150px) {
    .contacts {
        flex-direction: column;
    }

    .contacts h2,
    .contacts .info > p {
        margin-bottom: var(--margin-top-bot);
    }

    .contacts .phone,
    .contacts form {
        margin: auto;
    }
}


@media (max-width: 790px) {
    .contacts form {
        width: 100%;
    }

    .contacts form .flex-row {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 510px) {
    .contacts form .privacy {
        padding-left: 20px;
    }

    .contacts .phone {
        width: 100%;
    }

    .contacts .phone p {
        width: 80%;
        text-align: center;
    }
}