
/* 1 блок - заставка */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    min-height: 500px;
    padding: 0 var(--padding-x);
    
    background-color: #323949;
    background-image: url(../images/banner_3_light.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__heading {
        font-size: 40px;
        color: white;
        margin-bottom: 20px;
    }

    &__slogan {
        font-size: 25px;
        padding: 10px;
        background: linear-gradient(to right, grey, rgba(128, 128, 128, 0));
        color: white;
    }

    &__button {
        translate: 0 70px;
    }


    
    /* media - banner */
    @media (min-width: 1700px) {
        & {
            background-position: bottom;
        }
    }

    @media (max-width: 1500px) {
        & {
            padding-left: var(--padding-x);
            background-position: -7px;
        }
    }

    @media (max-width: 800px) {
        & {
            background-position: left;
        }
    }

    @media (max-width: 500px) {
        & {
            min-height: 400px;
        }

        &__button {
            translate: 0 40px;
        }
    }

    @media (max-width: 480px) {
        &__heading {
            font-size: 30px;
        }
    }
}
