
.burger {
    --size-burger: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: var(--size-burger);
    height: var(--size-burger);

    &:hover {
        cursor: pointer;
        scale: 1.1;
    }

    span {
        height: 4px;
        width: 100%;
        background-color: white;
        border-radius: 5px;

        transition: .1s;
    }

    &--visible {
        display: none;
    }

    &--active {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 3;

        & > span:nth-child(1) {
            transform: rotate(-45deg);
        }

        & > span:nth-child(2) {
            display: none;
        }
        
        & > span:nth-child(3) {
            transform: translate(0, -14px) rotate(45deg);
        }
    }


    @media (max-width: 780px) {
        &--visible {
            display: flex;
        }
    }
}


