.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 20px;

    &__heading {
        @include heading-line;
        font-size: var(--font-size-heading);
        margin-bottom: var(--margin-y);
    }

    &__description {
        border-left: 4px orange solid;
        padding: 5px;
        padding-left: 10px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 400px;
        padding: var(--margin-y) 0;
        border-radius: 30px;
        box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.142);
    }

    &__text {
        margin-bottom: 20px;
    }


    /* media - block contacts с формой */
    @media (max-width: 1150px) {
        &__heading,
        &__description {
            margin-bottom: var(--margin-y);
        }

        &__block {
            margin: auto;
        }
    }

    @media (max-width: 510px) {
        &__block {
            width: 100%;
        }

        &__text {
            width: 80%;
            text-align: center;
        }
    }
}