

.header {
    background-color: #323232;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 70px;
    padding: 0 var(--padding-x);

    &__empty {
        flex: 1;
    }

    &__phone {
        line-height: 20px;
        padding: 5px;
        color: white;
        border-bottom: 1px solid orange;

        &:hover {
            background-color: inherit;
            scale: 1.05;
        }
    }
}