.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;

    height: 100%;

    .menu__link {
        height: 100%;
        color: white;
        text-decoration: none;
        padding-inline: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #1c1c1c;
        }
    }
}